
.classB{
    
    height: 480px;
    width: 100%;
    overflow: hidden;
}
.classA{
    
    height: 380px;
    width: 100%;
    overflow: hidden;
}

.photo-column{
    background-color: sienna;
    height: 900px;
    overflow: hidden;
}
#photo-gallery{
    background-color: bisque;
    height: 900px;
    overflow: hidden;
}

.photo-sm{
    background-color: rgb(123, 45, 160);
    height: 380px;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}
.photo-big{
    background-color: rgb(160, 45, 93);
    height: 400px;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

@media(min-width: 575.98px){
    .video{
        margin-top:20px;
        width:100%;
        height:400px;
    }
}
@media(min-width: 767.98px){
    .video{
        margin-top:20px;
        width:100%;
        height: 600px;
    }
}
@media(min-width: 991.98px){
    .video{
        margin-top:20px;
        width:100%;
        height: 800px;
    }
}